{% extends "layout.html" %}
{% block content %}
    <h1>Create new character</h1>
    <form method="POST">
        <div>
            Character name: <input type="text" name="name" required><br>
            Health points: <input type="number" name="health" required><br>
            Armor class: <input type="number" name="armor_class" required><br>
        <br>
        </div>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Submit" class="button">
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    {% if session.user_id %}
    <p>Welcome, {{ session.user_id }}!</p>
{% endif %}
{% endblock %}