<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>RPG Helper</title>
</head>
<body>
    <div class="top-bar">
        <div class="nav-container">
            {% if session.username %}
                <a href="{{ url_for('logout_route') }}" class="button logout-button">Logout</a>
                    {% else %}
                        <a href="{{ url_for('login_route_get') }}" class="button login-button">Login &#x2192;</a>
                    {% endif %}
            {% if session.username %}
                <p>Welcome to RPGHelper, {{ session.username }}!</p>
                <div class="navigation">
                    <form action="{{ url_for('create_character_route_get') }}" method="get">
                        <button type="submit">Add Character</button>
                    </form>
                    <form action="{{ url_for('my_characters_route') }}" method="get">
                        <button type="submit">Character List</button>
                    </form>
                    <form action="{{ url_for('map_route_get') }}" method="get">
                        <button type="submit">Map screen</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="top-bar">
        <div class="main-container">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>