{% extends "layout.html" %}
{% block content %}
    {% if character_list %}
        <h1>My Characters</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Health</th>
                    <th>Armor Class</th>
                    <th>Actions</th>
                </tr>
                {% for character in character_list %}
                    <tr>
                        <td>{{ character.name }}</td>
                        <td>{{ character.health }}</td>
                        <td>{{ character.armor_class }}</td>
                        <td>
                            <form action="{{ url_for('modify_character', character_id=character.character_id) }}" method="get">
                                <input type="submit" value="Modify">
                            </form>
                            <form action="{{ url_for('delete_character', character_id=character.character_id) }}" method="post">
                                <input type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
    {% else %}
    <p>No characters found.</p>
    {% endif %}
{% endblock %}