{% extends "layout.html" %}
{% block content %}
    <h2>Login</h2>
    <form method="POST">
        <div>
            Username: <input type="text" name="username" required><br>
            Password: <input type="password" name="password" required><br>
        </div>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Login">
        <a href="{{ url_for('auth_blueprint.register_route_get') }}"><input type="button" value="Register"></a>
       </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
{% endblock %}
