{% block content %}
    <form method="POST">
        <div class="form-container">
            <div class="input-container">
                <p>Character name:</p>
                <input class="input-field" type="text" name="name" value="{{ character.name if character else '' }}" required>
            </div>
            <div class="input-container">
                <p>Health points:</p>
                <input class="input-field" type="number" name="health" value="{{ character.health if character else '0' }}" required>
            </div>
            <div class="input-container">
                <p>Armor class:</p>
                <input class="input-field" type="number" name="armor_class" value="{{ character.armor_class if character else '0' }}" required>
            </div>
        <br>
        </div>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Submit" class="button">
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
{% endblock %}